


<div class="header-container">
  <mat-toolbar color="primary">
  <a href="/Home" routerlinkactive="active" href="/home"  class="logo">SHUTERCART</a>
<button mat-icon-button (click)="toggleMenu()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon> </button>
  <nav [class.show]="isMenuOpen" class="navigation">
    <a routerlink="/Home" routerlinkactive="active" href="/home" class="active">Home</a>
    <a routerlink="/lens" routerlinkactive="active" href="/lens" class="active">Lens</a>
    <a routerLink="/camera">Camera</a>
    <a routerLink="/tools">Tools</a>

  </nav> 
     <a routerlink="/login" routerlinkactive="active" href="/login" class="active" class="log-cart">Login </a>

  </mat-toolbar>
   
</div>
