/* Footer container */
.footer-container {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px ;
    background-color: #333;
    color: #fff;
    margin-top: -50px;

  }
  
  /* Footer content */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 0;

  }
  
  /* Navigation */
  .navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  /* Navigation links */
  .navigation a {
    display: flex;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .navigation a:hover {
    background-color: #555;
  }
  
  /* Add some spacing between the navigation links */
  .navigation a:not(:last-child) {
    margin-right: 20px;
  }
  
  /* Add some margin to the bottom of the page to prevent content from being hidden behind the footer */
  main {
    margin-bottom: 80px;
  }



.payment-methods p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.payment-methods ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.payment-methods li {
  margin-right: auto  ;
  
}
.payment-methods{
  margin-right: auto  ;
  margin-left: auto;
  margin-top: 20px;



}

.payment-methods img {
  height: 30px;
  width: auto;
}
@media screen and (min-width: 768px) {
  /* Styles for larger screens */
  .footer-container .footer-content .navigation{
    // font-size: 1px;
    // padding: 20px;
    display: flex;
  }


}