<footer class="footer">
<footer class="footer-container">
    <div class="footer-content">
      <div class="payment-methods">
        <ul>
          <li><img src="assets\images\VISA.png" alt="Credit Card Icon">
          <img src="assets\images\mastercard.png" alt="Credit Card Icon">
          <img src="assets\images\mada.png" alt="Credit Card Icon">
          <img src="assets\images\Paypal.png" alt="PayPal Icon"></li></ul>
     
      </div>


      <nav class="navigation">
         <p>&copy; 2023 SHUTERCART</p>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>    
   
      </nav>     
       
    </div>
  </footer>

