<div class="admin-page">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Admin Dashboard</h4>
      </div>
      <div class="card-body">
        <nav>
          <a routerLink="/products" routerLinkActive="active"href="/products" class="active" >Products</a>
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
          <a routerLink="/users" routerLinkActive="active">Users</a>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>