.cart {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  color: green;
}