/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  main section {
    max-width: 800px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  main h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  main p {
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: auto;
  background-color: #333;
  color: #fff;

  }
  
  main .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  main .cta-button:hover {
    background-color: #555;
  }
  
  main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  main li {
    margin: 20px;
  }
  
  main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  main span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }